{% form_theme form _self %}

{% block _filter_data_widget %}
    <table {{ block('widget_container_attributes') }}>
        {{ block('field_rows') }}
        {{ form_rest(form) }}
    </table>
{% endblock %}

{% block filter_widget %}
<div class="filter form-contents">
    <h2>{{ 'filter.filter' | trans | capitalize }} {% block filter_name "" %}</h2>

    <div class="filter_fields">
        {{ form_widget(form.data) }}
    </div>

    <div class="filter_footer">
        <table style="width: 100%;">
            <tr>
                <td>
                    <input type="submit" value="filter">
                    {% if form.remember is defined %}{{ form_widget(form.remember) }} {{ 'filter.remember' | trans }}{% endif %}
                </td>
                {% if form.preset is defined %}
                <td style="text-align: right;">
                    {{ form_widget(form.preset) }} {{ form_widget(form.loadPreset) }}
                    {{ form_widget(form.savePreset) }}
                    <a href="{{ path("filter_managePresets", { "filterType": filterType }) }}" data-dialog="" class="button">{{ 'filter.manage_presets' | trans }}</a>
                </td>
                {% endif %}
            </tr>
        </table>
        {{ form_rest(form) }}
    </div>
</div>
{% endblock %}

{% block _filter_savePreset_widget %}
{{ form_widget(form, { "type": "submit", "value": 'filter.save_preset' | trans, "attr": { "data-dialog": "width=400||height=345" } } ) }}
{% endblock %}

{% block _filter_loadPreset_widget %}
{{ form_widget(form, { "type": "submit", "value": 'filter.load_preset' | trans }) }}
{% endblock %}