{% form_theme form _self %}

{% block form_label %}
        {% if label is empty %}
            {% set label = name|humanize %}
        {% endif %}
        <span {% for attrname, attrvalue in label_attr %} {{ attrname }}="{{ attrvalue }}"{% endfor %}>{{ label|trans({}, translation_domain) }}</span>
{% endblock %}
{% block _filter_data_widget %}
    <div class="select-container">
    {% for column in columns %}
        <div class="filter-column">
            <div class="filter-labels">
                {% for child in column %}
                    {{ form_label(child) }}
                {% endfor %}
            </div>
            <div class="filter-selects">
                {% for child in column %}
                    {{ form_widget(child) }}
                {% endfor %}
            </div>
        </div>
    {% endfor %}
    </div>
{% endblock %}

{% block filter_widget %}
<div class="toggle-filter-form ui-widget-content form-contents">
    {{ form_widget(form.data) }}

    <div class="buttons">
        {{ form_widget(form.filter) }}
        {{ form_widget(form.reset) }}
    </div>

    {#
    <div class="filter_footer">
        <table style="width: 100%;">
            <tr>
                <td>
                    <input type="submit" value="filter">
                    {% if form.remember is defined %}{{ form_widget(form.remember) }} {{ 'filter.remember' | trans }}{% endif %}
                </td>
                {% if form.preset is defined %}
                <td style="text-align: right;">
                    {{ form_widget(form.preset) }} {{ form_widget(form.loadPreset) }}
                    {{ form_widget(form.savePreset) }}
                    <a href="{{ path("filter_managePresets", { "filterType": filterType }) }}" data-dialog="" class="button">{{ 'filter.manage_presets' | trans }}</a>
                </td>
                {% endif %}
            </tr>
        </table>
        {{ form_rest(form) }}
    </div>
    #}
</div>
{% endblock %}

{% block _filter_savePreset_widget %}
{{ form_widget(form, { "type": "submit", "value": 'filter.save_preset' | trans, "attr": { "data-dialog": "width=400||height=345" } } ) }}
{% endblock %}

{% block _filter_loadPreset_widget %}
{{ form_widget(form, { "type": "submit", "value": 'filter.load_preset' | trans }) }}
{% endblock %}